<div class="welcome" id="welcome">
  <div class="welcome__text">
    <div class="welcome__t-container">
      <div class="welcome__t-header">
        <p>Hey there, I'm Alex - full stack developer</p>
      </div>
      <div class="welcome__t-main">
        <p>
          A multifaceted professional skiller in multiple fields of research,
          development as well as a learning specialist. Over 15 years of
          experience in spreading knowledge and a proud teacher and lecturer.
        </p>
      </div>
    </div>
  </div>
  <div class="welcome__photo">
    <div class="welcome__p-container">
      <img src="assets/welcome_photo.jpg" />
    </div>
  </div>
  <div class="welcome__contact">
    <div class="email">
      <span class="email__text">Email:</span>
      <div class="email__address">Alex-Borisov992@list.ru</div>
    </div>
    <div class="social-media">
      <span class="social-media__text">Find me here</span>
      <a href="https://linkedin.com" target="_blank">
        <svg-icon
          class="social-media__icon"
          src="assets/icons/linkedin.svg"
        ></svg-icon>
      </a>
      <a href="https://twitter.com" target="_blank">
        <svg-icon
          class="social-media__icon"
          src="assets/icons/twitter.svg"
        ></svg-icon>
      </a>
      <a href="https://instagram.com" target="_blank">
        <svg-icon
          class="social-media__icon"
          src="assets/icons/instagram.svg"
        ></svg-icon
      ></a>
    </div>
    <div class="resume" (click)="downloadResume()">
      <span class="resume__text">Download my CV</span>
      <svg-icon
        class="resume__arrow"
        src="assets/icons/arrow-down.svg"
      ></svg-icon>
    </div>
  </div>
</div>
