<div class="welcome" id="welcome">
  <div class="welcome__text">
    <div class="welcome__t-container">
      <div class="welcome__t-header">
        <p>Hey there, I'm Alex - full stack developer</p>
      </div>
      <div class="welcome__t-main">
        <p>A multifaceted professional skiller in multiple fields of research, development as well as a learning
          specialist. Over 15 years of experience in spreading knowledge and a proud teacher and lecturer.</p>
      </div>
    </div>
  </div>
  <div class="welcome__photo">
    <div class="welcome__p-container">
      <img src="assets/welcome_photo.jpg" />
    </div>
  </div>
  <div class="welcome__contact">

  </div>
</div>
