@import "animations";
@import "variables";

.welcome {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: powderblue;

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }

  &__t-container {
    width: 80%;
    height: 60%;
  }

  &__t-header {
    font-family: IBMPlexMono;
    font-weight: 600;
    font-size: 3em;
  }

  &__t-main {
    font-family: IBMPlexMono;
    font-weight: 400;
    font-size: 2em;
  }

  &__photo {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
  }

  &__p-container {
    display: flex;
    height: 70%;
    margin-left: 5em;
  }

  &__contact {
    position: absolute;
    bottom: 0;
  }
}

$welcome-font-sizes: (
  null : 14px,
  xs : 7px,
  s : 9px,
  m : 11px,
  l : 13px,
  xl : 14px,
  xxl : 20px
);

.welcome {
  @include font-size($welcome-font-sizes);
}