  <div class="contact">
    <div class="email">
      <span class="email__text">Email:</span>
      <div class="email__address">Alex-Borisov992@list.ru</div>
    </div>
    <div class="social-media">
      <span class="social-media__text">Find me here</span>
      <a href="https://linkedin.com" target="_blank">
        <svg-icon
          class="social-media__icon"
          src="assets/icons/linkedin.svg"
        ></svg-icon>
      </a>
      <a href="https://twitter.com" target="_blank">
        <svg-icon
          class="social-media__icon"
          src="assets/icons/twitter.svg"
        ></svg-icon>
      </a>
      <a href="https://instagram.com" target="_blank">
        <svg-icon
          class="social-media__icon"
          src="assets/icons/instagram.svg"
        ></svg-icon
      ></a>
    </div>
    <div class="resume" (click)="downloadResume()">
      <span class="resume__text">Download my CV</span>
      <svg-icon
        class="resume__arrow"
        src="assets/icons/arrow-down.svg"
      ></svg-icon>
    </div>
  </div>